body    {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
%btn    {
    display: inline-block;
    text-decoration: none;
    padding: 12px 0;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
}
.container  {
    max-width: 1140px;
    margin: 80px auto;
    padding: 0 15px;
}
.header {
    display: flex;
    flex-direction: column;
    &__btn  {
        text-align: center;
    }
}
.sign   {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    margin: 0 30px;
}

.btn  {
    @extend %btn;
    p   {
        // margin: 13px;
    }
}
.btn:hover  {
    background: #F53838;
    color: white;
    box-shadow: 0 15px 20px rgba(245, 56, 56, 0.35);
}  
@media screen and (min-width: 500px) {
    .header {
        justify-content: space-between;
        margin: 45px 0;
        flex-direction: row;
        p   {
            display: inline-block;
        }
    }
}