.map    {
    text-align: center;
    &__img  {
        width: 100%;
    }
}
.sponsor    {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 300px;
    .icons  {
        display: flex;
        align-items: center;
    }
}