.subscribe {
    min-width: 1140px;
    box-sizing: border-box;
    position: absolute;
    bottom: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}